makefile
log
parse.c
parse.h
scan.c
scan.h
test
tests/test_suivant
tests/test_suivant_2
tests/test_premier
tests/test_premier_2
tests/test_meme_langage
tests/test_meme_langage_2
tests/test_glushkov
tests/test_glushkov_2
tests/test_creer_automate_minimal
tests/test_creer_automate_determisite
tests/test_automate_accessible
tests/test_automate_mirroir
tests/test_automate_vide
tests/test_contient_mot_vide
tests/test_creer_automate
tests/test_delta_delta_star
tests/test_dernier
tests/test_dernier_2
tests/test_ensemble
tests/test_etats_accessibles
tests/test_mot_accepte
tests/test_numeroter
tests/test_numeroter_rationnel
tests/test_table

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#Other
*.mk
